option_settings:
  - option_name: DEBUG
    value: false 
  - option_name: APP_DEBUG
    value: false 
  - option_name: WOWZA_ORIGIN
    value: 54.149.243.236
  - option_name: WOWZA_EDGE
    value: wowza-edge-prod-beta.elasticbeanstalk.com/
  - option_name: ROOT_URL
    value: http://localhost:8888/yeplive/yeplive-api/public/
  - option_name: TWITTER_CLIENT_ID
    value: bbvlvahg8Yy4QkIHmFeqwlrVu 
  - option_name: TWITTER_CLIENT_SECRET
    value: mcVORCE10obPArdKVjyE3vQPmUDAPmjxWE3ijWjSH98eLtOCHp
  - option_name: GOOGLE_CLIENT_ID
    value: 757029635679-3t8dr78cejogedbv3neac7gjckeb2ilb
  - option_name: GOOGLE_CLIENT_SECRET
    value: i0HLYf0gzCmfztR1nOm9h-WP
  - option_name: FACEBOOK_APP_ID
    value: 1577314819194083
  - option_name: FACEBOOK_APP_SECRET
    value: 5c6167095ce3987081efad0612ad9003
  - option_name: GOOGLE_SERVER_KEY
    value: AIzaSyCkbMrhK5j4Ovzna2GPRPX_IJnz4oizUK4
  - option_name: SOCKET_URL
    value: http://dev-socketio.elasticbeanstalk.com 
  - option_name: REDIS_HOST
    value: devapi-001.fkjvwm.0001.usw2.cache.amazonaws.com 
  - option_name: WEBCLIENT_ROOT
    value: http://app.yeplive.com 